@model List<ResultReservationDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Araç Rezervasyon</h4>
                        <p class="card-subtitle mb-4">
                           Rezervasyon işlemleri bu sayfa üzerinden gerçekleştirebilirsiniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>#</th>
                                        <th>Adı</th>
                                        <th>Soyadı</th>
                                        <th>Email</th>
                                        <th>Telefon</th>
                                        <th>Durum</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>

                                            <td>@count</td>
                                            <td>@item.Name</td>
                                            <td>@item.Surname</td>
                                            <td>@item.Email</td>
                                            <td>@item.Phone</td>
                                            <td><span class="badge badge-soft-secondary px-2">@item.Status</span> </td>
                                            <td><a href="/Admin/AdminReservation/ReservationStatusChangeApproved/@item.ReservationID" class="btn btn-outline-success">Onayla</a></td>
                                            <td><a href="/Admin/AdminReservation/ReservationStatusChangeCancel/@item.ReservationID" class="btn btn-outline-danger">İptal Et</a></td>
                                            <td><a href="/Admin/AdminReservation/ReservationStatusChangeWait/@item.ReservationID" class="btn btn-outline-danger">Beklet</a></td>
                                            <td><a href="/Admin/AdminReservation/ReservationDetail/@item.ReservationID" class="btn btn-outline-dark">Detaylar</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
